<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image switcher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <div class="slideshow-container">
        <div class="Image fade">
            <img src="images/art-1.jpg" style="width:100%">
        </div>
        <div class="Image fade">
            <img src="images/art-2.jpg" style="width:100%">
        </div>
        <div class="Image fade">
            <img src="images/art-3.jpg" style="width:100%">
        </div>
        <div class="Image fade">
            <img src="images/art-4.jpg" style="width:100%">
        </div>
        <div class="Image fade">
            <img src="images/art-5.jpg" style="width:100%">
        </div>
        <div class="Image fade">
            <img src="images/art-6.jpg" style="width:100%">
        </div>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <script src="js/image_switcher.js"></script>
    <script src="js/page_options.js"></script>
</body>

</html>